body {
  font-family: "Saira Condensed", sans-serif;
  font-size: 18px;
  background-color: #f2f2f2;
  position: relative;
  box-sizing: content-box;
}

.navbar-brand {
  font-family: "Bangers", cursive;
  font-size: 36px;
  text-transform: uppercase;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #708090;
}

.card-img {
  background-color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #fff;
}

.tab-content .card-body {
  font-family: "Saira Condensed", sans-serif;
  font-size: 18px;
}

.tab-content h1,
h5 {
  font-family: "Bangers", cursive;
  font-style: bold;
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
}

.tab-content h2,
h3 {
  font-family: "Saira Condensed", sans-serif;
  font-size: 36px;
  font-style: bold;
  text-align: center;
}

.tab-content h4 {
  font-family: "Saira Condensed", sans-serif;
  font-size: 28px;
  font-style: bold;
  text-align: center;
}
button {
  font-family: "Bangers", cursive;
  font-style: bold;
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.container-flex {
  align-content: right;
  background-color: #fff;
  color: #000;
}

h5 {
  font-family: "Bangers", cursive;
  font-style: bold;
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
}

h6 {
  font-family: "Bangers", cursive;
  font-size: 18px;
  text-align: center;
}
.card-text {
  font-family: "Press Start 2P", cursive;
  align-self: flex-end;
}

.card {
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

#issues .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#main {
  background-color: #fff;
}

#main a {
  color: #000;
  font-style: bold;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px;
}
#main a:hover {
  color: grey;
}

.badge {
  background-color: #000;
}

#about {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

#about .card-deck {
  height: fit-content;
  width: fit-content;
}
#about .card {
  opacity: 1;
}
#about .card:hover {
  opacity: 0.5;
}

#disclaimer {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

#disclaimer h2 {
  font-style: bold;
  font-size: 36px;
}

#documentation {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

#documentation .card-link {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}

#home {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#home:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

table,
td {
  border: 1px solid #000;
  text-align: center;
}

thead,
tfoot {
  background-color: #000;
  color: #fff;
  text-align: center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
#side {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.issue__row {
  margin: 0;
  overflow: hidden;
}

.issue__row > .col-sm-4 {
  padding: 0;
}

.meta__container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.meta_data__button {
  position: fixed;
  z-index: 99999;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 20px;
  left: 30px;
  color: white;
  border-radius: 20px;
}

.meta_data__button:hover {
  cursor: pointer;
  background-color: #036666;
  font-weight: 600;
}

.meta__nav > .meta__nav_item {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f0efeb;
  border: solid 1px black;
}

.meta__nav > .meta__nav_item:hover {
    background-color: white;
    cursor: pointer;
  }

.meta__nav > .meta__nav_item.active, .meta__nav_item.active:hover {
  background-color: white;
  font-weight: 600;
  cursor: default;
}

.meta__div_content {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.meta__content_li_header {
  font-size: 2rem;
}

.meta__content_li_header.with_link {
  color: #036666;
}

.meta__content_li_header.with_link:hover {
  text-decoration: underline;
  color: #0056b3;
  cursor: pointer;
}

@media (min-width: 914px) {
    .issue__nav {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.issue__nav > .issue__nav_item {
    margin-left: 3px;
    margin-right: 3px;
}

.issue__nav_item {
    padding: 20px;
    background-color: white;
    border: solid 1px white;
    border-radius: 2px;
}

.issue__nav_item.inactive, .issue__nav_item.inactive:hover {
    cursor: default;
    border: solid 1px black;
    font-weight: 400;
    background-color: #f0efeb;
}

.issue__nav_item:hover {
    cursor: pointer;
    font-weight: 600;
    border: solid 1px black;
}

.section__header {
    margin-left: 15px;
}
