/*victorian*/
@font-face {
  font-family: 'antic_didoneregular';
  src:url(assets/fonts/anticdidone-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'abril_fatfaceregular';
  src: url(assets/fonts/abrilfatface-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lime_blossom_capsregular';
  src: url(assets/fonts/lime-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

#iframeHolder .wrap {
  background: rgb(244,241,234);
  background: radial-gradient(circle, rgba(244,241,234,1) 0%, rgba(231,212,172,1) 49%, rgba(195,187,168,1) 100%);
padding-top: 1.255%;
}

#iframeHolder img {
  float: center;
  width: 100%;
  border:#2f2f2f 1px solid;
  align-self: middle;
  -webkit-filter:sepia(90%) ;
  filter: sepia(90%);
}

#iframeHolder .figure {

  border:#2f2f2f 1px solid;
  -webkit-filter:sepia(90%) ;
  filter: sepia(90%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#iframeHolder .content {
  -webkit-column-count: 4; /* Chrome, Safari */
  column-count: 4;
  -webkit-column-gap: 10px; /* Chrome, Safari */
  column-gap: 10px;
  text-align: left;
  margin: 1em;
  border: 0;
  padding: 0;
}
#iframeHolder .header {
  width: 100%;
  text-align: center;
  font-family: 'abril_fatfaceregular';
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 72px;
  border-top: 5px solid #2f2f2f;
  border-bottom: 5px solid #2f2f2f;
}

#iframeHolder .subhead {
text-transform: uppercase;
border-bottom: 2px solid #2f2f2f;
border-top: 2px solid #2f2f2f;
padding: 12px 0 12px 0;
margin: 5px;
text-align: center;
font-size: 20px;
letter-spacing: .5rem;
word-spacing: 1px;
}

#iframeHolder .footer {
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: smaller;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 1000px) {
#iframeHolder .column {
    width: 100%;
  }
}
#iframeHolder h1 {
  font-family: 'abril_fatfaceregular';
  text-align: center;
  color:#2f2f2f;
}

#iframeHolder h2 {
  font-family: 'antic_didoneregular';
  text-align: center;
  border-bottom: thick double ;
  text-transform: uppercase;
  font-weight:900;
}

#iframeHolder h3 {
  font-family: 'antic_didoneregular';
  text-align: center;
  border-bottom: thick double;
  text-transform: uppercase;
  font-weight:600;
}

#iframeHolder h4 {
  font-family: 'antic_didoneregular';
  text-align: center;
  text-transform: uppercase;
  font-weight:300px;
}

#iframeHolder p {
margin: 0;
font-family:'antic_didoneregular';
color: #3b342c;
letter-spacing: 0;
padding-right: 0;
content: block;
}

#iframeHolder .content p:first-child::first-letter {
  font-family: 'antic_didoneregular';
  color: #2f2f2f;
  float: left;
  font-weight: 900;
  font-size: 5rem;
  margin: 0 0.1em 0 0;
}

#iframeHolder a {
  font-family: 'antic_didoneregular';
  color: #000;
  text-decoration: solid;
  letter-spacing: 1px;
  font-weight: 900;
}

#iframeHolder a:hover {
  color: #2f2f2f;
  text-decoration: line-through;
}

#iframeHolder q {
  font-style: oblique;
  letter-spacing: 0;
}

#iframeHolder table {
  table-layout: fixed;
  width: 100%;
  overflow-x: auto;
  word-wrap: break-word;
  text-overflow: ellipsis;
  font-family: 'antic_didonregular';
  font-size: small;
}

#iframeHolder td, th {
  width: auto;
  height: auto;
  border: 1px solid #2f2f2f;
  text-align: center;
  }
